.form-container {
    background-color: burlywood;
    position: absolute;
    top: 30px;
    padding: 30px;
    border-radius: 10px;
}
.bg {
    background: url("../image/back.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
}
